<header>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">Satish kollu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<body>
  <!--section-->
  <section id="banner" class="carousel slide bann" data-bs-ride="carousel">
    <!-- Carousel -->
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="2"></button>
      </div>
      
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/html.jpg" alt="Los Angeles" class="d-block satt" style="width:100%">
        </div>
        <div class="carousel-item">
          <img src="assets/images/js.png" alt="Chicago" class="d-block satt" style="width:100%">
        </div>
        <div class="carousel-item">
          <img src="assets/images/css.png" alt="New York" class="d-block satt" style="width:100%">
        </div>
      </div>
  
  <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>


  </section>
  <!--section end-->
</body>
<footer class="bg-dark sat" >
  <p class="text-white">copyrights all rights reserved</p>
</footer>
